.main-footer 
    .main-footer__row
        include ./menu
        include ./socialButtonsFooter
    .main-footer__row
        .main-footer__text-description Я начинающий вебразработчик, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
        .main-footer__copyright &copy;Анна Власова | создано с любовью в LoftShcool | 2017