include ./menu.pug
ul.social_buttons
	li.social_bittons_item VK
	li.social_bittons_item GitHub
	li.social_bittons_item unknow
.text-description Написать что-то про себя
.copyright Анна Власова | создано с любовью в LoftShcool | 2017