.main-footer
    .main-footer__row.container
        .main-footer__item
            include ./menu
        .main-footer__item
            include ./socialButtonsFooter
    .main-footer__row.container
        .main-footer__item
            .main-footer__item.main-footer__text-description Я начинающий вебразработчик, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
        .main-footer__item
            .main-footer__copyright &copy;Анна Власова | создано с любовью в LoftShcool | 2017