header.main-header
	.main-header__top-row
		.main-header__social-buttons
			include ./socialButtons.pug
		.main-header__menu
			button(type="button").hamburger
				span.hamburger__lines
			include ./menu.pug
	.main-header__user.user
		img.user__main-photo(src='./assets/images/photo.jpg')
		.user__text-title Анна Власова
		.user__text-subtitle Личный сайт вебразработчика
	button(type="button").arrow-down