.menu_wrap
	ul.menu
		li.menu_item
			a(href="./index.html") Главная
		li.menu_item
			a(href="./about.html") Обо мне
		li.menu_item
			a(href="./my-works.html") Мои работы
		li.menu_item
			a.last(href="./blog.html") Блог