nav.menu
	ul.menu__list
		-
			var listMenu = [
				{
					link: './index.html',
					title:'Главная'},
				{
					link: './about.html',
					title:'Обо мне'},
				{
					link: './my-works.html',
					title:' Мои работы'},
				{
					link: './blog.html',
					title:'Блог'}
			]
		each item in listMenu
			li.menu__item
				a.menu__link(href=`${item.link}`) #{item.title}
		