section.welcome
	.welcome__user
		.user
			img.user__main-photo(src='./assets/images/photo.jpg')
			.user__text-title Анна Власова
			.user__text-subtitle Личный сайт вебразработчика
	.welcome__social-buttons
		include ./socialButtons.pug
	.welcome__menu
		include ./menu.pug