section.welcome
	.main_photo
		img(src='./assets/images/photo.jpg')
	.text_title Анна Власова
	.text_subtitle Личный сайт вебразработчика
	include ./socialButtons.pug
	include ./menu.pug
button.authorization_button Авторизоваться