extends ../template

block variables
	- var title='Обо мне'

block content
	h1 Обо мне
	h2 Чем я могу быть полезна
	.main_photo__big
		img(src='./assets/images/photo.jpg')
	h2 Кто я
	h2 Чем я могу быть полезна
	h2 Контакты
