extends ../template

block variables
	- var title='Блог'
block content
	h1 Блог
	.container
		ul#menu-blog
		#blog
			.text-block.text-block-active
				h3 Заголовок 1
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.text-block
				h3 Заголовок 2
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.text-block
				h3 Заголовок 3
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.text-block
				h3 Заголовок 4
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.text-block
				h3 Заголовок 5
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			.text-block
				h3 Заголовок 6
				.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."