extends ../template

block variables
	- var title='Блог'

block content
	.blog-wrap
		
		.blog-wrap__menu-tablet
			ul.blog-menu-tablet
		button(type="button").button-menu
		.flex-wrap-column 
			header.main-header
				.main-header__bg
					img.main-header__bg--img(src="./assets/images/background_mountains.jpg")
				.main-header__menu
					button(type="button").hamburger
						span.hamburger__lines
					include ../common/menu.pug
				.main-header__container
					.main-header__top-row
						.main-header__social-buttons
							include ../common/socialButtons.pug
					.main-header__user
						.user
							img.user__main-photo(src='./assets/images/photo.jpg')
							.user__text-title
								.title-bg
								.title2 Блог
							.user__text-subtitle Статьи, которые я написала
				button(type="button").main-header__arrow-downs.arrow-down
			.blog-triangle 
				svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
					polygon.left(points="0,0   0,86   500.8,86   500.8,75.5")
					polygon.right(points="1000,0   1000,86   500,86   500,75.5")
			.blog
				ul.blog__menu
					.blog-menu
				.blog__content
					.blog__text-block.blog__text-block--active
						h3.blog__text-title Заголовок 1
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 2
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 3
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 4
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 5
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 6
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 7
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 8
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 9
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 10
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.blog__text-block
						h3.blog__text-title Заголовок 11
						.blog__text-date 16 сентября 2017
						.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		include ../common/footer.pug