extends ../template

block variables
	- var title='Добро пожаловать'

block content
	.index
		.index__wrap.flex-wrap-column 
			include ../common/welcome.pug
			include ../common/authorization.pug
			.index__copyright &copy;Анна Власова | создано с любовью в LoftShcool | 2017