extends ../template

block variables
	- var title='Добро пожаловать'

block content
	.index.flex-wrap-column 
		.index__wrap
			include ../common/welcome.pug
			include ../common/authorization.pug
		.index__copyright &copy;Анна Власова | создано с любовью в LoftShcool | 2017