extends ../template

block variables
	- var title='Добро пожаловать'

block content
	.index
		.index__wrap.flex-wrap-column
				.center-panel
					.center-panel__front
						include ../common/welcome.pug
					.center-panel__back
						include ../common/authorization.pug
				
				button.authorization-button Авторизоваться
				.index__copyright &copy;Анна Власова | создано с любовью в LoftShcool | 2017