extends ../templateMain

block variables
	- var title='Добро пожаловать'

block content
	include ../common/welcome.pug
	include ../common/authorization.pug
	.copyright Анна Власова | создано с любовью в LoftShcool | 2017