@import './common/fonts';

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
}

.center-panel {
	width: 380px;
	height:400px;
	position:absolute;
	margin: -190px 0 0 -200px;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	overflow: hidden;
	background: rgba(255,255,255,0.85);
	z-index:10;
}

.index{
	background: url(../images/background_mountains.jpg);
	background-size: cover;	
	&__wrap {
		min-width: 100%;
		min-height:  100vh;
		text-align: center;
		vertical-align: bottom;
	}

	&__copyright {
		position: absolute;
		bottom: 30px;
		left: 50%; 
		transform: translatex(-50%);
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		color:#fff;
	}
}

.user{
	&__text-title {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 28px;
		line-height: 34px;
		color: #455a64;
		opacity: 0.8;
	}

	&__text-subtitle {
		font-family: 'Roboto-Regular', sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #455a64;
		opacity: 0.8;
	}

	&__main-photo{
		width: 150px;
		height: 150px;
		margin-top: 40px;
		margin-bottom: 15px;
		border-radius: 50%;
	}
}

.off {
	display: none;
}

.main_photo__big img {
	width: 443px;
	height: 390px;
}

.btns-bottom { 
	position: absolute;
	display: flex;
	justify-content: space-between;
	width:100%;
	margin: 0;
	bottom: 0;

	&__item {
		display: block;
		padding: 15px;
		background: rgba(0,191,165,0.85);
		color:#fff;
		border:none;
        width:100%;
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 16px;
		&:hover {
			background: rgba(0,150,136,0.85);
		}
		border-right: 2px solid #74cac2;
		&:last-child {
			border: none;
		}
	}
}



.title2 {
	display: inline-block;
	position: relative;
	//padding: 20px 43px;
	font-family:BERNIERDistressed-Regular, sans-serif;
	font-size: 35px;
	line-height: 41px;
	color: #455a64;
}

.title2::before, .title2::after {
	content: "";
	position: absolute;
	top: 18px;
	width: 22px;
	height: 5px;
	background: #d0d2d2;
}

.title2::before {
	left:-43px;
} 

.title2::after {
	right: -43px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.triangle{
	position: absolute;
	left: 0;
	bottom: 0;
	.left{
		fill: #efeee9;
	}

	.right{
		fill: #eeebdf;
	}
}

@import './common/socialButtons';
@import './common/header';
@import './common/footer';
@import './common/authorization';
@import './common/welcome';
@import './common/blog';
@import './common/menu';






