@import './common/fonts';

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #455a64;
}

.flex-wrap-column {
	display: flex;
	flex-direction: column;
}

.center-panel {
	width: 380px;
	//min-height:400px;
	//position:absolute;
	//margin: -190px 0 0 -200px;
	//top: 50%;
	//left: 50%;
	margin: auto;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	background: rgba(255,255,255,0.85);
	z-index:10;
}

.index{
	background: url(../images/background_mountains.jpg);
	background-size: cover;	
	&__wrap {
		display: flex;
		min-width: 100%;
		min-height:  100vh;
	}

	&__copyright {
		// position: absolute;
		// bottom: 30px;
		// left: 50%; 
		// transform: translatex(-50%);
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		text-align: center;
		color:#fff;
	}
}


.user{
	&__text-title {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		color: #455a64;
		opacity: 0.8;
	}

	&__text-subtitle {
		font-family: 'Roboto-Regular', sans-serif;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #455a64;
		opacity: 0.8;
	}

	&__main-photo{
		display: block;
		width: 143px;
		height: 143px;
		margin: auto;
		margin-bottom: 9px;
		border-radius: 50%;
	}
}

.user-description {
	padding: 0 40px;
	&__text {
		text-align: left;
		padding-bottom: 40px;
	}
}


.off {
	display: none;
}

.main_photo__big img {
	width: 380px;
	height: 380px;
	margin-bottom: 25px;
}

.btns-bottom { 
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	bottom: 0;

	&__item {
		display: block;
		padding: 13px;
		background: rgba(0,191,165,0.85);
		color:#fff;
		border:none;
        width:100%;
        font-family: 'Roboto-Medium', sans-serif;
		font-size: 16px;
		text-decoration: none;
		&:hover {
			background: rgba(0,150,136,0.85);
		}
		border-right: 2px solid #74cac2;
		&:last-child {
			border: none;
		}
	}
}



.title2 {
	display: inline-block;
	position: relative;
	width: auto;
	margin-top: 0;
	font-family:BERNIERDistressed-Regular, sans-serif;
	font-size: 63px;
	line-height: 66px;
	color: #455a64;


	&::before, &::after {
		content: "";
		position: absolute;
		top: 30px;
		width: 22px;
		height: 5px;
		background: #d0d2d2;
	}

	&::before {
		left:-43px;
	} 

	&::after {
		right: -43px;
	}
}

.title3 {
	@extend .title2;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 10px;
	&::before,
	&::after {
		top: 18px;
	}
}

.triangle{
	position: absolute;
	top:0;
	transform: translateY(-100%);
	z-index: 3;

	.left{
		fill: #efeee9;
	}

	.right{
		fill: #eeebdf;
	}
	width: 50%;
	z-index: 4;
}

.about-columns {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 5;

	&__left,
	&__right {
		max-width: 50%;
		flex-grow: 1;
		&-title {
			text-align: center;
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position:absolute;
				display: block;
				z-index: 2;
				opacity: 0.1;
			}
		}
		&-content {
			text-align: center;
			padding-left: 38px;
		}
		
		&-description {
			text-align: left;
			padding-left: 40px;
			
		}

	}

	&__left {
		background: #efeee9;
	}

	&__right {
		background: #eeebdf;
	}		
}

.map {
	width: 100%;
	min-height: 974px;
	background: rgba(0,150,136,0.85);
}

.contacts{
	position: relative;
	width: 100%;
	min-height: 974px;
	&__block {
		@extend .center-panel;
		padding-top: 10px;
		min-height: 280px;
	}

	&__title {
		text-align: center;
	}

	&__list {
		padding: 0 40px;
	}
}

.contacts-list {
	list-style: none;
	//margin-top: 25px;

	&__item {
		margin: 10px 0;
	}

	&__icon {
		display: inline-block;
		fill:#00bea4;
		margin-right: 10px;
	}
	&__text {
		display: inline-block;
		vertical-align: bottom;
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 16px;
		line-height: 34px;
		color: rgba(69,90,100,0.8);
		

	}
}

.about-wrap{
	position: relative;
	.main-header__user{
		&::before {
			background: url(../images/portfolio_header.svg);
			background-position:  center center;
            background-repeat: no-repeat;
		}
	}

	.about-columns__left-title {
		position: relative;
		&::before {
			background: url(../images/about_header.svg);
			background-position:  center -20px;
			background-size: 360px 120px;
            background-repeat: no-repeat;
		}
	}
}

.my-works-wrap{
	.main-header__user{
		&::before {
			background: url(../images/portfolio_header.svg);
			background-position:  center center;
            background-repeat: no-repeat;
		}
	}
}


.blog-wrap{
	padding-bottom: 210px;

	.main-header__user{
		&::before {
			background: url(../images/blog_header.svg);
			background-position:  center center;
            background-repeat: no-repeat;
		}
	}

}



@import './common/socialButtons';
@import './common/header';
@import './common/footer';
@import './common/authorization';
@import './common/welcome';
@import './common/blog';
@import './common/menu';
@import './common/skillsList';






