@import './common/fonts';

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
}
.index_wrap {
	min-width: 100%;
	min-height:  100vh;
	background: url(../images/background_mountains.jpg);
	background-size: cover;	
	vertical-align: bottom;

	.copyright {
		position: absolute;
		bottom: 30px;
		left: 50%; 
		transform: translatex(-50%);
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		color:#fff;
	
	}
}
.text_title {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 28px;
	line-height: 34px;
	color: #455a64;
	opacity: 0.8;
}

.text_subtitle {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #455a64;
	opacity: 0.8;

}

.main_photo img{
	width: 150px;
	height: 150px;
	margin-top: 40px;
	margin-bottom: 15px;
	border-radius: 50%;
}

.off {
	display: none;
}

.main_photo__big img {
	width: 443px;
	height: 390px;
}

.buttons_bottom { 
	position: absolute;
	bottom: 0;
	display: flex;
	width:100%;
	margin: 0;
	justify-content: space-between;
}



.title2 {
	display: inline-block;
	position: relative;
	//padding: 20px 43px;
	font-family:BERNIERDistressed-Regular, sans-serif;
	font-size: 35px;
	line-height: 41px;
	color: #455a64;
}

.title2::before, .title2::after {
	content: "";
	position: absolute;
	top: 18px;
	width: 22px;
	height: 5px;
	background: #d0d2d2;
}

.title2::before {
	left:-43px;
} 

.title2::after {
	right: -43px;
}

.row {
	display: flex;
	justify-content: space-between;
}

@import './common/socialButtons';
@import './common/header';
@import './common/footer';
@import './common/authorization';
@import './common/welcome';
@import './common/blog';
@import './common/menu';

.buttons_bottom_item { 
	flex-grow: 1;
}

.btn {
	display: block;
	padding: 15px;
	background: #00bfa5;
	color:#fff;
	opacity: 0.85;
	&:hover {
		background: #009688;
	}
	border-right: 2px solid #74cac2;
	
}

.buttons_bottom_item .last{
	border:none;
}

