.authorization {
    @extend .welcome;
    

    .authorization_form { 
        color: #455a64;
    }

    .autorization_buttons{
        @extend .buttons_bottom;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
        }
    }

    .autorization_buttons button {
        @extend .btn;
        border:none;
        width:100%;
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 16px;
    }
    .autorization_login,
    .autorization_password {
        vertical-align: top;
    }

    label[for="login"],
    label[for="password"] {
        font-size: 0;
    }

    input[type=text],
    input[type=password] {
        width: 295px;
        height: 45px;
        margin-bottom: 20px;
        padding-left: 60px;
        border: none;
        border-radius: 5px;
        color: #9b9ea0;

    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label{
        position: relative;
        padding-left: 40px;
    }

    input[type="checkbox"]+label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid  #d0d1d2;
        border-radius: 3px;
    }

    input[type="checkbox"]:checked+label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: #00bfa5;
    }

    input[type="checkbox"]:checked+label::after{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 8px;
        height: 4px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        border-left:  2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]+label{
        position: relative;
        padding-left: 40px;
    }

    input[type="radio"]+label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #d0d1d2;
        border-radius: 50%;
    }



    input[type="radio"]:checked+label::after{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #00bfa5;
        border-radius: 50%;
    }

}


