.authorization {
    @extend .center-panel;
    

    .authorization-form { 
        color: #455a64;
    }

 
    .authorization-form__login,
    .authorization-form__password {
        vertical-align: top;
    }

    .auth_login__label,
    .auth_password__label {
        font-size: 0;
    }

    .auth_login__input,
    .auth_password__input {
        width: 295px;
        height: 45px;
        margin-bottom: 20px;
        padding-left: 60px;
        border: none;
        border-radius: 5px;
        color: #9b9ea0;

    }

    .auth_checkbox__input {
        display: none;
    }

    .auth_checkbox_label {
        position: relative;
        padding-left: 40px;
  
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid  #d0d1d2;
            border-radius: 3px;
        }
    }

    .auth_checkbox__input:checked+.auth_checkbox_label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: #00bfa5;
    }

    .auth_checkbox__input:checked+label::after{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 8px;
        height: 4px;
        transform: rotate(-45deg);
        border-left:  2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    input[type="radio"] {
        display: none;
    }

    .auth_radio__label{
        position: relative;
        padding-left: 40px;
    }

    .auth_radio__label::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #d0d1d2;
        border-radius: 50%;
    }

    .auth_radio__input:checked+.auth_radio__label::after{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #00bfa5;
        border-radius: 50%;
    }

    .autorization__buttons{
        padding: 0;
    }

}


