.blog-wrap {
  .user__main-photo {
    margin-top: 0;
  }

  .blog-triangle{
    position: relative;
    width: 100%;

    .triangle{
      width: 100%;
      .left,
      .right {
        fill:#fff;
      }
    }
  }

  .title2 {
    margin:25px 0;
    color:#fff;
  }

  .blog {
    display: flex;
    justify-content: flex-start;
  

    &__menu {
      min-width: 290px;
      max-width: 290px;
      list-style: none;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      text-align: right;
    }

    .blog-menu { 
      &__item {
      display: block;
      width: 220px;
      padding: 20px;
    

      &--active {
        position:relative;
        font-weight: bold;
        color: #20c6af;

        &:after {
          content: '';
          position:absolute;
          top:0;
          right: -3px;
          height: 100%;
          width: 3px;
          background-color: #20c6af;
        }
      }
    }
  }
   
    &__content { 
      max-height: 100vh;     
      padding:0 100px;  
      overflow-y: auto;
      background:
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
      background-attachment: local, local, scroll, scroll;
      text-align: left;
    }

    &__text-block{
      padding: 70px 0;
      border-bottom: 5px solid #f1f1f2;
    
      &--active {
        color: #20c6af;
      }
    }

    &__text-title {
      display: inline-block;
      font-family:BERNIERDistressed-Regular, sans-serif;
      font-size: 35px;
      line-height: 41px;
      color: #455a64;
    }

    &__text-date {
      margin-bottom: 25px;
      color: #20c6af;
    }
  }
}

