@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BERNIERDistressed-Regular';
	src: url('../fonts/BERNIERDistressed-Regular.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BERNIERRegular-Regular';
	src: url('../fonts/BERNIERRegular-Regular.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BERNIERShade-Regular';
	src: url('../fonts/BERNIERShade-Regular.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}