.main-footer {
    background: rgba(55,62,66,0.85);
    color: #fff;
    &__row {
        display: flex;
        justify-content: space-between;

        &:last-of-type{
            padding: 15px;
            opacity: 0.5;
            border-top: 1px solid #ccc;
            font-family: 'Roboto-Light', sans-serif;
        }
    
    }
    &__copyright {
        margin-right: 15px;
        text-align: right;
        white-space: nowrap;
    }

    &__text-description {
        text-align: left;
        margin-left: 15px;
        max-width: 50%;
    }
    
    
    .social-buttons__item{
        margin-right: 10px;
    }
    li svg {
        width: 36px;
        height: 36px;
        fill: #ccc;
        transition: all .5s;
      }
      
      li:hover svg {
        fill: #fff;
      }
      
      li:hover svg circle{
        fill: none;
      }

      .social-buttons {
          margin: 17px 20px;
      }
}