.main_header {
    position: relative;
    min-height: 615px;
    background: url(../images/background_mountains.jpg);
	background-size: cover;	


    .top_line {
        display: flex;
        justify-content: space-between;
    }


    .social_buttons {
        margin:30px;
        padding: 0;
    }


    .hamburger {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 28px;
        margin-right: 30px;
        background: transparent;
        border: none;
        z-index: 4;

        .hamburger_lines::before,
        .hamburger_lines::after {
            -webkit-transition-delay: 0, 0.3s;
                transition-delay: 0, 1s;
        }
    }


    .hamburger_line {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 5px;
        border: none;
        border-radius: 5px;
        background: #fff;
        -webkit-transition: 1s ease-out 0.3s;
        transition: 1s ease-out 0.3s;
    }
    .hamburger_lines {
       @extend .hamburger_line;
        top: 15px;
        left: 0;
      
    }

    .hamburger_lines::before {   
       @extend .hamburger_line;
        content: "";
        top: -15px;
        left: 0;
    }
    .hamburger_lines::after {
         @extend .hamburger_line;
        content: "";
        bottom: -15px;
        left: 0;
    }

    .menu_wrap {
        visibility: hidden;
        position: absolute;  
        width: 0;
        display: none;
        z-index: 3; 
        top: 0;
        right: 0;
        background: rgba(0,191,165,0.87);
        height: 100vh;
        -webkit-transition: 1s ease-out 0.1s;
        transition: 1s ease-out 0.1s;
        li {
            display: block;
            visibility: hidden;
            margin-top: 90px;
            color: #fff;
            text-align: center;
            a {
                display: inline-block;
                position: relative;
                font-family:BERNIERDistressed-Regular, sans-serif;
                font-size: 63px;
                line-height: 63px;
                color: #fff;  
            }

            a:hover {
                &::before, &::after {
                    opacity: 1;
                }
            }
            
            a::before, a::after {
                content: "";
                position: absolute;
                top: 25px;
                width: 22px;
                height: 5px;
                background: #fff;
                opacity: 0.3;
            }
            
            
            a::before {
                left:-43px;
            } 
            
            a::after {
                right: -43px;
            }
        }
    }

    .hamburger.active {
        .hamburger_lines {
            background: none;
        }

        .hamburger_lines::before {
            top: 0;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }

        .hamburger_lines::after {
            bottom: 0;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        &+.menu_wrap { 
            display: block;
            visibility: visible;
            width: 100%;
            li {
                visibility: visible;
            }
        }
    }

    .text_title{
        font-size: 35px;
        color: #fff;
    }
    .text_subtitle {
        color: #fff;
    }

    &:after {
        content: "";
        position: absolute;
        top: 550px;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translateX(-50%) rotate(-45deg) ;
        border-left: 5px solid rgba(255,255,255,0.7);
        border-bottom: 5px solid rgba(255,255,255,0.7);

    }

    .triangle{
        position: absolute;
        left: 0;
        bottom: 0;
        .left{
            fill: #efeee9;
        }

        .right{
            fill: #eeebdf;
        }
    }
}