.main-header {
    position: relative;
    min-height: 580px;
    height: 100vh;	
    overflow: hidden;

    &__bg {
        height: 100%;
        position:absolute;
        display: block;
        overflow: hidden;

        &--img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-size: contain;
        z-index: 3;
    }


    &__top-row {
        display: flex;
        justify-content: space-between;
    }

    


    &__social-buttons {
        padding: 0;
        .social-buttons {
            margin-top: 5px;
        }
        
    }

    &__user {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position:absolute;
            display: block;
            z-index: 2;
            opacity: 0.1;
           
        }
        .user{
            margin: auto;
            &__main-photo {
            }
        }
    }


    .hamburger {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-right: 20px;
        background: transparent;
        border: none;
        z-index: 6;

        &__lines::before,
        &__lines::after {
            transition-delay: 0, 1s;
        }
    
        .hamburger-line {
            position: absolute;
            z-index: 1;
            width: 40px;
            height: 5px;
            border: none;
            border-radius: 5px;
            background: #fff;
            -webkit-transition: 1s ease-out 0.3s;
            transition: 1s ease-out 0.3s;
        }

        &__lines {
        @extend .hamburger-line;
            top: 15px;
            left: 0;

            &::before {   
                @extend .hamburger-line;
                    content: "";
                    top: -15px;
                    left: 0;
                }
            &::after {
                @extend .hamburger-line;
                content: "";
                bottom: -15px;
                left: 0;
            }
        }
        
        &_active {
            .hamburger__lines {
                background: none;

                &::before {
                    top: 0;
                    -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                }
    
                &::after {
                    bottom: 0;
                    -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                }
            }
    
            &+.menu { 
                display: block;
                visibility: visible;
                width: 100%;
                
                z-index: 5; 
                .menu__item {
                    visibility: visible;
                }
            }
        }
    
    }


    .menu {
        display: none;
        visibility: hidden;
        position: absolute;  
        width: 0;
        top: 0;
        right: 0;
        background: rgba(0,191,165,0.87);
        height: 100vh;
        -webkit-transition: 1s ease-out 0.1s;
        transition: 1s ease-out 0.1s;
        &__item {
            display: block;
            visibility: hidden;
            margin-top: 90px;
            color: #fff;
            text-align: center;
        }
        &__link {
            display: inline-block;
            width: auto;
            position: relative;
            font-family:BERNIERDistressed-Regular, sans-serif;
            font-size: 63px;
            line-height: 63px;
            color: #fff;  

            &:hover {
                &::before, 
                &::after {
                    opacity: 1;
                }
            }
            
            &::before, 
            &::after {
                content: "";
                position: absolute;
                top: 25px;
                width: 22px;
                height: 5px;
                background: #fff;
                opacity: 0.3;
            }
            
            &::before {
                left:-43px;
            } 
            
            &::after {
                right: -43px;
            }
        }
    }

    .user {
        &__text-title{
            font-size: 35px;
            line-height: 44px;
            color: #fff;
        }
        &__text-subtitle {
            color: #fff;
        }
    }

    .header__arrow-downs {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50%;
        width: 19px;
        height: 17px;
        transform: translateX(-50%) rotate(-45deg) ;
        background: none;
        border: none;
        border-left: 5px solid rgba(255,255,255,0.7);
        border-bottom: 5px solid rgba(255,255,255,0.7);
        z-index: 2;
        &:hover {
            opacity: 0.5;
        }
    }
}