.social-buttons {
    list-style: none;
    padding: 0;
    &__item {
        display: inline-block;
        margin-right: 24px;
        font-size: 0;
        &:last-child {
			margin: 0;
		}
    }
}

.welcome {
     .social-buttons{
         &__icon {
            fill:#73d4c8;
            &:hover {
                fill: #40746C;
            }
        }
    }
}

.main-header {
    .social-buttons {
        margin: 30px 20px;
    }
}

.main-header{
    .social-buttons {
        &__icon {
            fill:#fff;
            opacity: 0.5;
                &:hover {
                opacity: 1;
                }
            }
        &__item {
            margin-right: 22px;
        }    
    }
}


.main_footer{
    .social-buttons {
        display: flex;
        justify-content: flex-start;
        &__icon {
            fill:#fff;
            opacity: 0.5;
                &:hover {
                opacity: 1;
                }
            }
        &__item {
            margin-right: 22px;
        }    
    }
}