.welcome {
	//@extend .center-panel;

	
	display: flex;
	flex-direction:column;
    justify-content: flex-end;
    height: 100%;
	&__user {
		margin-top: 60px;
		@include tablet {
			margin-top: 55px;
		}
	}
	&__social-buttons {
		padding: 18px;
	}
	&__menu{
		margin-top: 6px;
		display: block;
	}
	.main_photo {
		z-index: 1;
	}
}


.authorization-button {
	position: static;
	align-self: flex-end;
	order: -1;
	margin-right: 20px;
	margin-top: 25px;
	padding: 12px 27px;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;

	@include phone {
		
		margin: auto;
		
	}

	&:hover {
		background: #fff;
		color: #00bfa5;
	}
}